body{
    background:url(https://www.insurancejournal.com/app/uploads/2013/09/healthcare.jpg);
    background-repeat: repeat;
    font-family: Assistant, sans-serif;
    display: initial;
    min-height: 90vh;
}

table, th, td {
  border: 5px  solid black;
}

table {
  border-collapse: collapse;
}

.img-container {
    text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}

.container{
    text-align: center;
    border: 7px solid black;
    width: 300%;
    height: 200px;
    padding-top: 100px;
}